<div class="navbar-wagon">
  <em>Hello there</em>
  <div class="navbar-wagon-right">
    <%= link_to "Add a new cocktail", new_cocktail_path %>
  </div>

</div>

<div class="main-page">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,108,200,12.6) 0%, rgba(8,36,61,0.6) 41%), url(<%= cl_image_path("Darth") %>)">

  <div class="banner-content">
    <h1> STARWARS COCKTAILS </h1>
    <p> May the force be with you, always </p>
  </div>
</div>


<ul>
  <% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail) do %>
    <li class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url(<%= cl_image_path cocktail.photo, height: 198, width: 198, crop: :fill unless cocktail.photo.blank? %>)">
      <%= cocktail.name %>
    </li>
    <% end %>
  <% end %>
</ul>
</div>

